#Cleaning The Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
customers_df = pd.read_csv('./../dataset/telco_customer_data_v2.csv')

#Checking Data Quality and Integrity
    * The gender column contains the following values: 'Male', 'Female', 'f', 'Man', nan, 'FEMALE', 'm', 'male'

In [14]:
#Checking for unique values in each column

for col in customers_df.columns:
    print(f"{col} :{customers_df[col].unique()}")

customerID :['CUST00001' 'CUST00002' 'CUST00003' ... 'CUST69998' 'CUST69999'
 'CUST70000']
gender :['Male' 'Female' 'f' 'Man' nan 'FEMALE' 'm' 'male']
SeniorCitizen :['0' '1' 'No' 'Yes' nan 'not senior']
Partner :['No' 'Yes' nan]
Dependents :['Yes' 'No' nan]
tenure :[  3.   2.  42.  40.  17.  18.  25.  33.   6.  -5.  22.  10.   8.   5.
  47.  28.  44.  12. -10.  38.  21.   4.  16.  29.  51.  15.   9.  23.
  43.  34.  31.  19.  45. 999.   7.  65.  14.  nan  13.  32.  26.  71.
  36.  11.  41.  24.  20.  50.  39.  30.  48.  46.  27.  52.   1.  37.
  61.  54.  35.  70.  56.  69.  72.  63.  53.  68.  57.  58.  62.  66.
  67.  60.  49.  55.  64.  59.]
PhoneService :['Yes' 'No']
MultipleLines :['Yes' nan 'No' 'No phone service']
InternetService :['No' 'DSL' 'Fiber optic']
OnlineSecurity :['No internet service' 'No' 'Yes' nan 'Y' 'True']
OnlineBackup :['No internet service' 'No' 'Yes' nan 'Y' 'True']
DeviceProtection :['No internet service' 'No' 'Yes' nan 'Y' 'True']
TechSupport :['No internet service' 'Yes' nan 'No' 'Y' 'True']
StreamingTV :['No internet service' nan 'Yes' 'No' 'Y' 'True']
StreamingMovies :['No internet service' 'No' 'Yes' nan 'Y' 'True']
Contract :['Month-to-month' 'One year' 'Two year' 'M-M']
PaperlessBilling :['No' 'Yes']
PaymentMethod :['Mailed check' 'Bank transfer (automatic)' 'Electronic check'
 'Credit card (automatic)' nan 'BANK TRANSFER']
MonthlyCharges :[ 68.61  23.15  42.63 ... 893.14  71.41 608.46]
TotalCharges :['205.83' '46.3' '1790.46' ... '928.62' '982.17' '217.23']
Churn :['Yes' 'No' 'Y' 'NO CHURN' 'Unknown' 'N' 'CHURNED']

DATA CLEANING
The following would be carried out on each column of interest
* Normalization
* Casting to the required data types

# Cleaning & Encoding Churn Column

In [43]:
#Cleaning Churn column
customers_df['Churn'] = customers_df['Churn'].replace({'Yes':1, 'No':0, 'Y': 1, 'N':0 , 'CHURNED':1, 'NO CHURN':0})
customers_df[customers_df['Churn'] == 'Unknown'].shape

#Dropping rows with 'Unknown' in Churn column since the churn status will be used to build model
customers_df = customers_df[customers_df['Churn'] != 'Unknown']
customers_df['Churn'] = customers_df['Churn'].astype(int)
customers_df.shape

(69946, 21)

## Cleaning TotalCharges column

In [ ]:
customers_df['TotalCharges'] = customers_df['TotalCharges'].replace(' ', np.nan)
customers_df['TotalCharges'] = customers_df['TotalCharges'].astype(str).str.replace(r'[^\d.]', '', regex=True)
customers_df['TotalCharges'] = pd.to_numeric(customers_df['TotalCharges'], errors='coerce')
customers_df['TotalCharges'].astype(float)
customers_df['TotalCharges'].fillna(0, inplace=True)

C:\Users\Okoko\AppData\Local\Temp\ipykernel_9080\3439243112.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customers_df['TotalCharges'].fillna(0, inplace=True)

count    6.994600e+04
mean     1.797071e+03
std      1.067881e+04
min      0.000000e+00
25%      3.592800e+02
50%      8.048250e+02
75%      1.523040e+03
max      1.254634e+06
Name: TotalCharges, dtype: float64

In [48]:
customers_df.isna().any().sum()

np.int64(15)